.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .moment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .moment-card {
    max-width: calc(33.33% - 20px); 
    flex-basis: calc(33.33% - 20px); 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .moment-card:hover {
    transform: scale(1.03);
  }
  
  .moment-card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
  }
  
  .moment-card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .moment-card p {
    text-align: left;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .button-container button {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  